<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Star Wars Catalogue</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="btn-group btn-group-justified">
    <a href="{{ url_for('get_characters') }}" class="btn btn-primary">List Characters</a>
    <a href="{{ url_for('starships') }}" class="btn btn-primary">List Starships</a>
</div>

</html>